*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto-Slab", Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #000c36;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.header__image {
  width: 99px;
}

.header__heading {
  font-size: 45px;
  font-weight: 400;
  font-family: "Carter One", Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  max-width: 325px;
  margin-top: 36px;
}

.main__form {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
}

.main__form--question {
  display: flex;
  flex-direction: column;
  /* width: 393px; */
  gap: 4px;
}

.main__form--question > label {
  font-size: 16px;
  font-weight: 400;
  font-style: regular;
}

.main__form--question > textarea {
  background-color: #3b4877;
  color: inherit;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: 300;
  border-radius: 10px;
  padding: 9px 12px 12px 11px;
  width: 325px;
  resize: none;
}

.main__form > button {
  background-color: #51e08a;
  border: none;
  color: #000c36;
  font-size: 30px;
  font-weight: 700;
  border-radius: 10px;
  padding: 1.15rem 0;
  width: 100%;
}
